# SmowCode ESP32 BACnet Stack — default SDK config
CONFIG_BACNET_WIFI_SSID="YourWiFiSSID"
CONFIG_BACNET_WIFI_PASSWORD="YourWiFiPassword"
CONFIG_ESP_WIFI_SSID_HIDDEN=n
CONFIG_LWIP_SO_RCVBUF=y
CONFIG_LWIP_UDP_RECVMBOX_SIZE=16
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192
